/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #fdfbff;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-snack-bar-container.succes-snackbar {
  --mdc-snackbar-container-color: #009138;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #fc5953;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}



